.stickyFilter {
    margin: 32px 15px 0;
    min-height: 124px;
}

@media screen and (min-width: 1440px) {
    .stickyFilter {
        margin: 60px 0 0 257px;
        min-height: 72px;
    }
}

.stickyFilter_scroll {
    background-color: #FFFFFF;
    position: fixed;
    top: 56px;
    margin: 0;
    padding: 0 15px;
    width: calc(100% - 30px);
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .stickyFilter_scroll {
        top: 88px;  
    }
}

.stickyFilter__form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1440px) {
    .stickyFilter__form {
        min-width: 646px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }
}

.stickyFilter__author {
    height: 40px;
    padding: 0 0 0 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    background-color: transparent;
    background-image: url(../../images/user\ 1.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center right 6.7%;
}

@media screen and (min-width: 1440px) {
    .stickyFilter__author {
        min-width: 295px;
    }
}

.stickyFilter__author-list {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #FFFFFF;
    z-index: 1;
}

.stickyFilter__author-list_opened {
    display: block;
    overflow: auto;
}

@media screen and (min-width: 1440px) {
    .stickyFilter__author-list {
        min-width: 295px;
    }
}

.stickyFilter__author-cell {
    margin: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);
}

.stickyFilter__author-cell:hover {
    opacity: 0.8;
    cursor: pointer;
}

.stickyFilter__dates {
    position: relative;
    margin-top: 12px;
    min-height: 40px;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1440px) {
    .stickyFilter__dates {
        margin-top: 0;
        max-width: 331px;
    }
}

.stickyFilter__dates-input {
    border: none;
    width: 43%;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);
}

@media screen and (min-width: 1440px) {
    .stickyFilter__dates-input {
        width: 42.4%;
    }
}

.stickyFilter__dates-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.65);
    margin: 0 10px;
}

.stickyFilter__dates-input-error {
    position: absolute;
    top: calc(100% + 3px);
    right: 100px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.stickyFilter__dates-input-error:first-of-type {
    left: 10px;
    right: 70%;
}