.cards {
    margin: 16px 16px 32px;
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 1440px) {
    .cards {
        margin: 24px 257px 60px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}