.header {
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    width: 100%;
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

@media screen and (min-width: 1440px) {
    .header {
        min-height: 88px;
    }
}

.header__logo {
    margin-left: 15px;
    width: 59.65px;
    height: 25.3px;
}

@media screen and (min-width: 1440px) {
    .header__logo {
        margin-left: 138px;
        width: 73.57px;
        height: 31.2px;
    }
}

.header__contacts {
    display: flex;
    margin-right: 17px;
}

@media screen and (min-width: 1440px) {
    .header__contacts {
        margin-right: 138px;
    }
}

.header__contacts-number {
    min-width: 26.36px;
    background-image: url(../../images/telefon.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1440px) {
    .header__contacts-number {
        background-image: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
    }
}

.header__contacts-email {
    margin-left: 16.65px;
    min-width: 28px;
    min-height: 22px;
    background-image: url(../../images/letter.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (min-width: 1440px) {
    .header__contacts-email {
        background-image: none;
        margin-left: 44px;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);
    }
}

.header__contacts-number-wide {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
}