.footer {
    background: #092433;
}

@media screen and (min-width: 1440px) {
    .footer {
        display: grid;
        grid-template-columns: 217.71px auto;
        grid-template-areas: "footer__logo footer__links"
            "footer__copywrite footer__social"
    }
}

.footer__logo {
    width: 93.2px;
    height: 39.53px;
    margin: 35.14px 0 0 16px;
    transition: opacity .3s ease .3s;
}

.footer__logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .footer__logo {
        width: 197.71px;
        height: 83.85px;
        margin: 80px 0 0 20px;
        grid-area: footer__logo;
    }
}

.footer__social {
    margin: 14.21px 0 0 18px;
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 1440px) {
    .footer__social {
        grid-area: footer__social;
        margin: 61.08px 0 0 394.29px;
        height: 19.15px;
    }
}

.footer__social-logo {
    transition: opacity .3s ease .3s;
}

.footer__social-logo:hover {
    opacity: 0.8;
    cursor: pointer; 
}

.footer__links {
    margin: 32.97px 0 0 15px;
    display: grid;
    grid-template-columns: 85px 100px;
    gap: 12px 77px;
}

@media screen and (min-width: 1440px) {
    .footer__links {
        grid-area: footer__links;
        margin: 80px 0 0 394.29px;
        display: flex;
        gap: 0;
    }
}

.footer__links-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .3s ease .3s;
}

.footer__links-text:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1440px) {
    .footer__links-text {
        font-size: 16px;
    }

    .footer__links-text:nth-child(2) {
        margin-left: 118px;
    }

    .footer__links-text:nth-child(3) {
        margin-left: 115px;
    }

    .footer__links-text:nth-child(4) {
        margin-left: 130px;
    }
}

.footer__copywrite {
    margin: 48px 0 0 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.5;
}

@media screen and (min-width: 1440px) {
    .footer__copywrite {
        grid-area: footer__copywrite;
        margin: 13.15px 0 0 23px;
        padding-bottom: 124px;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.footer__license {
    margin: 4px 0 0 15px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.5;
}

@media screen and (min-width: 1440px) {
    .footer__license {
        display: none;

    }
}